{{define "groupe"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>group</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/group.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

</head>
<body>

<header class="sidebar">
    <div class="sidebar-container">
        <a href="/homepage" class="logo">
            <img src="../static/media/LOGO_YNOV.png" alt="Logo">
        </a>
        <div class="button-container">
            <div class="filters-button">
                <a href="/filters" class="filters-button-logo">
                    <svg width="69" height="34" viewBox="0 0 69 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3H66M14.25 17H54.75M27.75 31H41.25" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="image">
        <img src="{{.Image}}" alt="{{.Name}}">
    </div>
    <div class="header">
        <h1>{{.Name}}</h1>
        <hr>
    </div>
    <div class="info">
        <div class="detail">
            <p>Date de création : {{.CreationDate}}</p>
        </div>
        <div class="detail">
            <p>Premier album : {{.FirstAlbum}}</p>
        </div>
        <div class="detail">
            <p>Membres : {{range .Members}}{{.}}, {{end}}</p>
        </div>
    </div>
    <div id="map"></div>
</div>
<script>
    var map = L.map('map').setView([51.505, -0.09], 7);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    {{range .Coordinate}}
    L.marker([{{.Latitude}}, {{.Longitude}}])
    .bindPopup('<b>{{.Name}}</b><p>{{.Date}}</p>').addTo(map)
    {{end}}


    /*var popup = L.popup();

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
    }

    map.on('click', onMapClick);
    */
</script>
</body>
</html>
{{end}}