{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie-Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
</head>
<body>

<div class="sidebar">
    <div class="sidebar-element">
        <a href="/homepage" class="logo">
            <img src="../static/media/LOGO_YNOV.png" alt="Logo">
        </a>
        <form action="/updateFilters" method="post">
            <label>Select Range Creation Date: </label>
            <div>
                <label for="creationDataMin"></label><input type="range" id="creationDataMin" name="creationDateSelectMin" value="1958" min="1958" max="2015" step="1" oninput="this.nextElementSibling.value = this.value">
                <output>1958</output>
            </div>

            <div>
                <label for="creationDataMax"></label><input type="range" id="creationDataMax" name="creationDateSelectMax" value="2015" min="1958" max="2015" step="1" oninput="this.nextElementSibling.value = this.value">
                <output>2015</output>
            </div>

            <br>

            <label>Select Range First Album: </label>
            <label>Min: </label>
            <input type="number" id="dateSelectMin2" name="firstAlbumSelectMin" min="1900" max="2100" pattern="\d{4}" title="XXXX">
            <label>Max: </label>
            <input type="number" id="dateSelectMax2" name="firstAlbumSelectMax" min="1900" max="2100" pattern="\d{4}" title="XXXX">

            <br>

            <label>Select location of the concert: </label>
            <label for="name"></label><input type="text" id="name" list="research_locations" name="locationConcert" minlength="1" maxlength="30" size="35" placeholder="no city" />
            <datalist id="research_locations">
                {{range .}}
                {{range .Locations}}
                <option value="{{index .}}"></option>
                {{end}}
                {{end}}
            </datalist>

            <fieldset>
                <legend>Choose the number of members in the group:</legend>

                <div>
                    <input type="checkbox" id="number1" name="number1" />
                    <label for="number1">1</label>
                </div>

                <div>
                    <input type="checkbox" id="number2" name="number2" />
                    <label for="number2">2</label>
                </div>

                <div>
                    <input type="checkbox" id="number3" name="number3" />
                    <label for="number3">3</label>
                </div>

                <div>
                    <input type="checkbox" id="number4" name="number4" />
                    <label for="number4">4</label>
                </div>

                <div>
                    <input type="checkbox" id="number5" name="number5" />
                    <label for="number5">5</label>
                </div>

                <div>
                    <input type="checkbox" id="number6" name="number6" />
                    <label for="number6">6</label>
                </div>

                <div>
                    <input type="checkbox" id="number7" name="number7" />
                    <label for="number7">7</label>
                </div>

            </fieldset>

            <button type="submit">Apply<svg fill="white" viewBox="0 0 448 512" height="1em" class="arrow"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg></button>
            <br>
            <br>
            <br>
        </form>
    </div>
</div>

<div class="group">
    <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
        <g>
            <path
                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
            ></path>
        </g>
    </svg>

    <label for="query"></label><input class="input" list="research" id="query" onkeyup="searchArtist()" placeholder="Search..." name="searchbar"/>
    <datalist id="research">
        {{range .}}
        <option value="{{.Name}}" label=" - Name"></option>
        <option value="{{.CreationDate}}" label=" - creation date"></option>
        <option value="{{.FirstAlbum}}" label=" - first album"></option>
        {{range .Locations}}
        <option value="{{index .}}" label=" - location"></option>
        {{end}}
        {{range .Members}}
        <option value={{index .}} label=" - member"></option>
        {{end}}
        {{end}}
    </datalist>

</div>

<div class="card">
    {{range .}}
    <a href="/group/{{.ID}}" class="card-link">
        <div class="flip-card" data-artist="{{index .}}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h2>{{.Name}}</h2>
                </div>
                <div class="flip-card-back">
                    <div class="in-flip-card-back">
                        <h1>{{.Name}}</h1>
                        <p>Members :</p>
                        <p>{{.Members}}</p>
                        <p>CreationDate :</p>
                        <p>{{.CreationDate}}</p>
                        <p>FirstAlbum :</p>
                        <p>{{.FirstAlbum}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {{end}}
</div>
</body>
<script src="../static/js/searchbar.js"></script>
</html>
{{ end }}
