{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="nav">
    <h1>GROUPIE TRACKER</h1>
    <a href="http://localhost:8080/map">map</a>
    <details>
        <summary>filters</summary>
        <form action="/updateFilters" method="post">
            <label for="dateSelectMin">Select Range Creation Date: </label>
            <label for="dateSelectMin">Min: </label>
            <input type="number" id="dateSelectMin" name="dateSelectMin" min="1900" max="2100" pattern="\d{4}" title="XXXX">
            <label for="dateSelectMax">Max: </label>
            <input type="number" id="dateSelectMax" name="dateSelectMax" min="1900" max="2100" pattern="\d{4}" title="XXXX">
            <button type="submit">apply</button>
        </form>
    </details>
</div>
<div class="card">
    {{range .}}
    <a href="/group/{{.ID}}" class="card-link">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h2>{{.Name}}</h2>
                </div>
                <div style="background-image: url({{.Image}})" class="flip-card-back">
                    <div class="in-flip-card-back">
                        <h1>{{.Name}}</h1>
                        <hr>
                        <p>-members-</p>
                        <p>{{.Members}}</p>
                        <p>-creationDate-</p>
                        <p>{{.CreationDate}}</p>
                        <p>-firstAlbum-</p>
                        <p>{{.FirstAlbum}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {{end}}
</div>
</body>
</html>
{{ end }}