{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    {{range .}}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{.Image}}" alt="{{.Name}}" style="width:300px;height:300px;">
                <h2>{{.Name}}</h2>
            </div>
            <div class="flip-card-back">
                <h1>{{.Name}}</h1>
                <hr>
                <p>-members-</p>
                <p>{{.Members}}</p>
                <p>-creationDate-</p>
                <p>{{.CreationDate}}</p>
                <p>-firstAlbum-</p>
                <p>{{.FirstAlbum}}</p>
            </div>
        </div>
    </div>
    {{end}}
</body>
</html>
{{ end }}