*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2f303d;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.button-container {
    top: 15.5rem;
    left: 1.5rem;
    position: relative;
}

.filters-button {
    width: 166px;
    height: 119px;
    padding: 41px 64px 50px 39px;
    justify-content: flex-start;
    align-items: center;
    display: inline-fle;
    margin-top: 65px;
}

.filters-button-logo {
    width: 63px;
    height: 28px;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
    width: 700px;
    height: 700px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.container .image{
    justify-self: end;
}

.container .header{
    justify-self: center;
}

.container .header h1{
    font-size: 5vw;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
}

.detail {
    text-align: right;
    margin: 5px;
}

.container .image img{
    width: 350px;
    height: 350px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#map {
    position: relative;
    width: 350px;
    height: 350px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}